[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
cookiecutter = "*"
twine = "*"
pytest = "*"
pytest-cov = "*"
tox = "*"
check-manifest = "*"
isort = "*"
docutils = "*"
readme-renderer = "*"
pygments = "*"
wheel = "*"
build = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
setuptools = "*"
pyjq = "*"
flake8 = "*"
ElasticMock = "*"

[packages]
elasticsearch = "*"
datetime = "*"

[requires]
python_version = "3.9"
